@model AirlineReservation.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-page">
    <div class="form">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.HiddenFor(c => c.UserId)
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "New Password" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

            <button type="submit">Change</button>
        }
    </div>
</div>

